@model IEnumerable<GestionEmployeeAppWeb.Models.Employee>

@{
    ViewData["Title"] = "EmployeeList";
}

<div class="mt-5 mb-2 row col-md-12">
    <div class="col-md-11 float-left">
        <h4><i class="fas fa-list-ul"></i> EMPLOYEES</h4>
    </div>
    <div class="col-md-1 float-right">
        <a asp-action="Create" class="btn btn-outline-primary"><i class="fas fa-user-plus"></i> Nouveau</a>
    </div>
</div>

<div class="table-responsive col-md-12">
    <table class="table table-sm" id="listEmp">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmpNom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpPrenom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartementName)
                </th>
                <th class="text-right" colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpNom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpPrenom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartementName)
                    </td>
                    <td class="float-right">
                        @Html.ActionLink("Modifier", "Create", new { EmpId = item.EmpId, item.EmpNom, item.EmpPrenom, item.Age, item.DepId }, new { @class = "btn btn-success btn-sm" }) |
                        @Html.ActionLink("Supprimer", "DeleteEmployee", new { id = item.EmpId, }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Do you really want to delete this record ?')" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

                
           
